body{
    background:url(imges/food1.jpg.jpg)no-repeat;
background-size: cover;
}
.header{
    width:130%;
    height:130px;
    display:flex;
    background-color: blue;
    text-decoration: bold;
}
.navbar ul{
    display: flex;
    padding-left: 100px;
    font-size: 40px;
}
.navbar ul li a{
    text-decoration: none;
    color:red;
    padding-left: 100px;
    text-decoration-color: rgb(18, 206, 49);
    background-color: blue;
}
.navbar ul li{
    list-style: none;
}
.logo img{
    height:130px;
    width: 130px;
    border-radius:50%;
}
.home ul{display: flex;
    padding-left: 100px;
}
.index ul{display: flex;
        padding-left: 100px;
        background-color: blue;
        text-decoration: red;
}
/*******************CONTACT US**********/
.contact-us{
    height:500px;
}
#form{
    border: 0px solid black;
    height:300px;
    width:500px;
    margin-left:20px;
}
#form input{
margin-top: 20px;
}
#form button{
 margin-top:20px;
 margin-left:30px;
}
.contact -us{
        height:500px;
    }
#form{
        border: 0px solid black;
        height:300px;
        width:500px;
        margin-left:20px;
}     
.services{
    background-color: blueviolet;
}
/***********FOOTER****************************************/
#footer{
    background-color: blueviolet;
    height:50px;
}
#footer p{
    text-align: center;
    font-weight:bold;
}
/***********************ARTICLES**************************/
.articles img{
    position: relative;
    opacity: 0.5;
    image-orientation: flip;
    width: 100px;
    display: flex;
}